@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@700&display=swap');

:root{
    --line-border-fill:#ff4d6d;
    --line-border-empty: #dee2e6;
    --body-background:#f8f9fa;
    --beyaz:#fff;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--body-background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container{
    text-align: center;
}

.progress-container{
    width: 500px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
}

.progres-empty{
    background-color: var(--line-border-empty);
    border-radius: 10px;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.progress{
    background-color: var(--line-border-fill);
    border-radius: 10px;
    height: 10px;
    width: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.8s ease;

}

.circle{
    background-color: var(--beyaz);
    width: 70px;
    height: 70px;
    border: 10px solid var(--line-border-empty);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: var(--beyaz);
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-size: 25px;
    cursor: pointer;
}

.btn:disabled{
    background-color: var(--line-border-empty);
}

